:root {
    --font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding-left: 0;    
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
}


body {
    font-family: var(--font-family);
    background-color: #fff;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ---COMPONENTS--- */

.btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #02897a;
    border-radius: 4px;
    border: 1px solid transparent;
}

.btn:hover,
.btn:focus {
    background-color: transparent;
    color: #173a56;
    border: 1px solid #bcd0e5;
}

.section {
    padding: 50px 0;
}

.section-container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.section-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.piece-section-title {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.section-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.section-list-item:not(:last-child) {
    margin-bottom: 25px;    
}

.section-list-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.section-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:  #edfffc;
}

.social-list-icon {
    fill: #02897a;
    background-color:  #edfffc;
}

/* ---HEADER--- */


.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 73px;
}

.logo {

    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.logo-img {
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav-list-item {
}

.header-nav-link {
    display: block;
    padding: 26px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #02897a;
}

.header-nav-link.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    align-items: center;
    gap: 21px;
}

.header-btn-list-item {
  
}

.header-btn {
    display: block;
    padding: 9px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.header-btn-sing-in {
    text-align: center;
    background-color: transparent;
    color: #173a56;
    border: 1px solid #bcd0e5;
}

.header-btn-sing-in:hover,
.header-btn-sing-in:focus {
    background-color: #02897a;
    color: #fff;
}

.header-btn-sing-up {
    background-color: #02897a;
    color: #fff;
    border: 1px solid transparent;
}

.header-btn-sing-up:hover,
.header-btn-sing-up:focus {
    background-color: transparent;
    color: #173a56;
    border: 1px solid #bcd0e5;
}


/* ---HERO--- */

.hero {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero-addisional-container {
    margin-right: 35px;
    /* padding: 112px 0; */
   
}
.main-title {
    margin-bottom: 18px;
    max-width: 382px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
}
.hero-text {
    margin-bottom: 45px;
    max-width: 465px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
}
.hero-btn-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-btn-list-item {
}

 .hero-btn-get-started {
    padding: 15px 42px;
}


.hero-btn-watch {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: transparent;
    border: none;

}

.hero-img {
}

/* ---FEATURE--- */

.feature-section {
}
.section {
}
.fearure-title {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 529px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    /* line-height: 1.17; */
}
.feature-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
.feature-list-item {
    width: calc((100% - 90px) / 4);
}
.feature-list-img {
    margin-bottom: 18px;
}
.feature-list-title {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}
.feature-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.feature-btn {
    display: block;
    margin: 0 auto;;
    padding: 15px 32px;
}


/* ---STUFF--- */

.stuff-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.stuff-section .container {
    width: 916px;
    margin: 0 auto;
}

.stuff-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.stuff-description {
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #22343d;
}

.stuff-list {
    display: flex;
    align-items: center;
    gap: 25px 91px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.stuff-list-item {
    width: calc((100% - 91px) / 2);
    display: flex;
    align-items: center;
    gap: 10px;
}

.stuff-list-item:nth-child(2) {
    flex-direction: row-reverse;
}

.stuff-list-item:nth-child(3) {
    flex-direction: row-reverse;
}


.ftuff-list-img {
}

.stuff-list-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
}

.stuff-btn {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
}


/* ---CONTENT STRATEGIES--- */


.strategy {
    padding-top: 50px;
    padding-bottom: 85px;
}

.strategy-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.strategy-text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.strategy-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.strategy-list-item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
    overflow: hidden;
}

.strategy-list-link:hover .strategy-list-title,
.strategy-list-link:focus .strategy-list-title {
    color:  #02897a;
}

.strategy-list-wrapper {
    padding: 24px 27px 40px 27px;
}

.strategy-list-text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.strategy-list-bold {
    font-weight: 700;
}

.strategy-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}



/* ---PRICE TABLE --- */

.pricing {
    padding-top: 85px;
    padding-bottom: 50px;
}

.pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pricing-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.pricing-text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
}

.pricing-list {
    display: flex;
    align-items: center;
    gap: 72px;
}

.pricing-list-item {
    padding: 32px 74px;
    width: calc((100% - 144px) / 3);
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.pricing-list-item:nth-child(2) {
    background-color: #02897a;
}

.pricing-list-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

.pricing-list-item:nth-child(2) .pricing-list-title{
    color: #fff;
}

.pricing-list-description {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
}

.pricing-list-item:nth-child(2) .pricing-list-description{
    color: #fff;
}

.pricing-list-wrapper {
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 16px;
}

.pricing-list-number {
    font-family: "Montserrat", sans-serif;
    margin-right: 8px;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.pricing-list-item:nth-child(2) .pricing-list-number{
    color: #fff;
}

.prising-list-second-wrapper {

}

.pricing-list-dolar {
    font-family:  "Inter", sans-serif;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.pricing-list-item:nth-child(2) .pricing-list-dolar{
    color: #fff;
}

.pricing-list-term {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.pricing-list-item:nth-child(2) .pricing-list-term{
    color: #e0e0e0;
}

.pricing-list-offers {
    margin-bottom: 30px;
}

.pricing-list-offers-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}

.pricing-list-item:nth-child(2) .pricing-list-offers-item{
    color: #fff;
}

.pricing-list-offers-item:not(:last-child) {
    margin-bottom: 16px;
}

.pricing-list-button {
    font-family:  "Montserrat", sans-serif;
    padding: 10px 17px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    background-color: #02897a;
    border: 1px solid transparent;
}

.pricing-list-item:nth-child(2) .pricing-list-button {
    color: #02897a;
    background-color: #fff;
}

.pricing-list-button:hover,
.pricing-list-button:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #bcd0e5;
}

.pricing-list-item:nth-child(2) .pricing-list-button:hover,
.pricing-list-item:nth-child(2) .pricing-list-button:hover {
    color: #fff;
    background-color: #02897a;
}


/* ---FEEDBACK--- */

.feedback {
    padding: 50px 0;
}


.feedback .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.feedback-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
}

.feedback-text {
    max-width: 537px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
 }

.feedback-list {
        display: flex;
        align-items: center;
        gap: 64px;
 }

 .feedback-list-item {
    width: calc((100% - 128px) / 3);
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
}

.feedback-list-comment {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}

.feedback-list-wrapper {
    display: flex;
    align-items: center;
}

.feedback-list-img {
    margin-right: 14px;
}

.feedback-list-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-list-name { 
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.feedback-list-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}


/* ---PROMO--- */

.promo {
    padding: 50px 0;
}

.promo .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 51px;
    max-width: 968px;
    background-color: #02897a;
    border-radius: 32px;
}

.promo-wrapper {
    margin-right: 87px;
}

.promo-text {
    margin-bottom: 66px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
}

.promo-button {
    padding: 9px 33px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid transparent;
}

.promo-button:hover,
.promo-button:focus {
    color: #fff;
    background-color: #02897a;
    border: 1px solid #bcd0e5;
}

/* ---FOOTER--- */

.footer {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
   display: flex;
   align-items: start;
   margin-bottom: 16px;
}

.logo-social-wrapper {
    margin-right: 146px;
}

.logo {
    margin-bottom: 18px;
}

.resource-wrapper {
    margin-right: 146px;
}

.footer-main-list-texts {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}


.footer-list-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    color: #22343d;
}

.footer-list-link:hover,
.footer-list-link:focus {
    color: #02897a;
}

.legal-stuff-wrapper {
    margin-right: 83px;
}

.sign-up-now-text {
    margin-bottom: 30px;
    max-width: 280px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}


/* ---OUR CLIENTS--- */

.client-section {
    padding-top: 100px;
    padding-bottom: 117px;
}

.client-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client-section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
}

.client-list {
    display: flex;
    align-items: center;
    gap: 64px;
}