:root {
    --font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding-left: 0;    
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
}


body {
    font-family: var(--font-family);
    background-color: #fff;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ---COMPONENTS--- */

.btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #02897a;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: transparent;
    color: #173a56;
    border: 1px solid #bcd0e5;
}

.section {
    padding: 50px 0;
}

.section-container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.section-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.piece-section-title {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.section-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.section-list-item:not(:last-child) {
    margin-bottom: 25px;    
}

.section-list-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.section-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:  #edfffc;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    stroke: #02897a;
    fill: transparent;
     transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #02897a;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    stroke: #edfffc;
    fill: transparent;
}


.strategy-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.strategy-list-item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
    overflow: hidden;
}

.strategy-list-wrapper {
    padding: 24px 27px 40px 27px;
}

.strategy-list-text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.strategy-list-bold {
    font-weight: 700;
}

.strategy-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.strategy-list-link:hover .strategy-list-title,
.strategy-list-link:focus .strategy-list-title {
    color:  #02897a;

}


.pricing-list {
    display: flex;
    align-items: center;
    gap: 72px;
}

.pricing-list-item {
    padding: 32px 74px;
    width: calc((100% - 144px) / 3);
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.pricing-list-item:nth-child(2) {
    background-color: #02897a;
}

.pricing-list-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

.pricing-list-item:nth-child(2) .pricing-list-title{
    color: #fff;
}

.pricing-list-description {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
}

.pricing-list-item:nth-child(2) .pricing-list-description{
    color: #fff;
}

.pricing-list-wrapper {
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 16px;
}

.pricing-list-number {
    font-family: "Montserrat", sans-serif;
    margin-right: 8px;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.pricing-list-item:nth-child(2) .pricing-list-number{
    color: #fff;
}

.prising-list-second-wrapper {

}

.pricing-list-dolar {
    font-family:  "Inter", sans-serif;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.pricing-list-item:nth-child(2) .pricing-list-dolar{
    color: #fff;
}

.pricing-list-term {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.pricing-list-item:nth-child(2) .pricing-list-term{
    color: #e0e0e0;
}

.pricing-list-offers {
    margin-bottom: 30px;
}

.pricing-list-offers-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}

.pricing-list-item:nth-child(2) .pricing-list-offers-item{
    color: #fff;
}

.pricing-list-offers-item:not(:last-child) {
    margin-bottom: 16px;
}

.pricing-list-button {
    font-family:  "Montserrat", sans-serif;
    min-width: 139px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    background-color: #02897a;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pricing-list-item:nth-child(2) .pricing-list-button {
    color: #02897a;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pricing-list-button:hover,
.pricing-list-button:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #bcd0e5;
}

.pricing-list-item:nth-child(2) .pricing-list-button:hover,
.pricing-list-item:nth-child(2) .pricing-list-button:hover {
    color: #fff;
    background-color: #02897a;
}

/* ---HEADER--- */


.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 73px;
}

.logo {

    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.logo-img {
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav-list-item {
}

.header-nav-link {
    display: block;
    padding: 26px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #02897a;
}

.header-nav-link.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    align-items: center;
    gap: 21px;
}

.header-btn-list-item {
  
}

.header-btn {
    display: block;
    padding: 9px 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.header-btn-sing-in {
    min-width: 105px;
    height: 42px;
    text-align: center;
    background-color: transparent;
    color: #173a56;
    border: 1px solid #bcd0e5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn-sing-in:hover,
.header-btn-sing-in:focus {
    background-color: #02897a;
    color: #fff;
}

.header-btn-sing-up {
    min-width: 113px;
    height: 42px;
    background-color: #02897a;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn-sing-up:hover,
.header-btn-sing-up:focus {
    background-color: transparent;
    color: #173a56;
    border: 1px solid #bcd0e5;
}


/* ---HERO--- */

.hero {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero-addisional-container {
    margin-right: 35px;
    /* padding: 112px 0; */
   
}
.main-title {
    margin-bottom: 18px;
    max-width: 382px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
}
.hero-text {
    margin-bottom: 45px;
    max-width: 465px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
}
.hero-btn-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

 .hero-btn-get-started {
    min-width: 178px;
    height: 53px;
}


.hero-btn-watch {
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: transparent;
    border: none;
}

.hero-btn-watch-icon {
    fill: #02897A;
}

/* ---FEATURE--- */


.fearure-title {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 529px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    /* line-height: 1.17; */
}
.feature-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.feature-list-item {
    width: calc((100% - 90px) / 4);
}

.feature-list-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    width: 54px;
    height: 54px;
    border-radius: 19px;
}

.feature-icon-wrapper-green {
    background-color: #02897a;
}

.feature-icon-wrapper-blue {
    background-color: #4d8dff;
}

.feature-icon-wrapper-purple {
    background-color: #740a76;
}

.feature-icon-wrapper-red {
    background-color: #f03e3d;
}

.feature-list-icon {
    fill: #fff;
}

.feature-list-title {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}
.feature-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.feature-btn {
    display: block;
    margin: 0 auto;
    min-width: 175px;
    height: 53px;
}


/* --- SUPPORT --- */

.support-list-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-list-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
}

.section-icon-orange {
    background-color: #f90;
}

.section-icon-red {
    background-color: #f03e3d;
}

.section-icon-blue {
    background-color:  #4d8dff;
}

.section-list-icon {
    fill: #fff;
}

/* ---STUFF--- */

.stuff-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.stuff-section .container {
    width: 916px;
    margin: 0 auto;
}

.stuff-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.stuff-description {
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #22343d;
}

.stuff-list {
    display: flex;
    align-items: center;
    gap: 25px 91px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.stuff-list-item {
    width: calc((100% - 91px) / 2);
    display: flex;
    align-items: center;
    gap: 10px;
}

.stuff-list-item:nth-child(2) {
    flex-direction: row-reverse;
}

.stuff-list-item:nth-child(3) {
    flex-direction: row-reverse;
}

.stuff-list-text {
    padding: 13px 19px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    background-color: #fff;
    border-radius: 30px;
}

.stuff-btn {
    display: block;
    margin: 0 auto;
    min-width: 216px;
    height: 53px;
}


/* ---CONTENT STRATEGIES--- */


.strategy {
    padding-top: 50px;
    padding-bottom: 85px;
}

.strategy-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.strategy-text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}


/* ---PRICE TABLE --- */


.pricing {
    padding-top: 85px;
    padding-bottom: 50px;
}

.pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.pricing-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.pricing-text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
}


/* ---FEEDBACK--- */


.feedback {
    padding: 50px 0;
}


.feedback .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.feedback-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
}

.feedback-text {
    max-width: 537px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
 }

.feedback-list {
        display: flex;
        align-items: center;
        gap: 64px;
 }

 .feedback-list-item {
    width: calc((100% - 128px) / 3);
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
}

.feedback-icons-list {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.feedback-list-colored-icon {
    fill: #f3cd03;
}

.feedback-list-icon {
    fill: #f3cd03;
}

/* .feedback-list-comment-wrapper {
    padding: 14px 20px 12px 19px;
    border-radius: 25px;
    background-color: #fff;
} */

.feedback-list-comment {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    /* padding: 14px 20px 12px 19px; */
    border-radius: 25px;
    background-color: #fff;
}

.feedback-list-wrapper {
    display: flex;
    align-items: center;
}

.feedback-list-img {
    margin-right: 14px;
}

.feedback-list-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-list-name { 
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.feedback-list-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}


/* ---PROMO--- */


.promo {
    padding: 50px 0;
}

.promo .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 51px;
    max-width: 968px;
    background-color: #02897a;
    border-radius: 32px;
}

.promo-wrapper {
    margin-right: 87px;
}

.promo-text {
    margin-bottom: 66px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
}

.promo-button {
    min-width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-button:hover,
.promo-button:focus {
    color: #fff;
    background-color: #02897a;
    border: 1px solid #bcd0e5;
}

/* ---FOOTER--- */

.footer {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
   display: flex;
   align-items: start;
   margin-bottom: 16px;
}

.logo-social-wrapper {
    margin-right: 146px;
}

.logo {
    margin-bottom: 18px;
}

.resource-wrapper {
    margin-right: 146px;
}

.footer-main-list-texts {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}


.footer-list-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    color: #22343d;
}

.footer-list-link:hover,
.footer-list-link:focus {
    color: #02897a;
}

.legal-stuff-wrapper {
    margin-right: 83px;
}

.footer-sign-up-text {
    margin-bottom: 30px;
    max-width: 280px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}

.sign-up-input-wrapper {
    position: relative;
    margin-bottom: 25px;
}

.footer-sign-up-input {
    display: block;
    padding-left: 42px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    background-color: transparent;
    outline: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sign-up-input:focus {
    border-color: #02897a;
}

.footer-sign-up-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.footer-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #02897a;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sign-up-input:focus + .footer-input-icon{
    fill: #bcd0e5;
}

.footer-sign-up-button {
    min-width: 131px;
    height: 39px;

}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #22343d;
}


/* ============================== CUSTOMERS ==================== */

/* ---OUR CLIENTS--- */

.client-section {
    padding-top: 100px;
    padding-bottom: 117px;
}

.client-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client-section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
}

.client-list {
    display: flex;
    align-items: center;
    gap: 64px;
}


/* --- BENEFITS --- */

.benefits-setion {
    margin-bottom: 50px;
    padding-top: 24px;
    padding-bottom: 68px;
    background-color: #f5f5f5;
}

.benefits-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.benefits-list-item {
    width: calc((100% - 60px) / 3);
}

.benefits-list-icon-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    width: 54px;
    height: 54px;
    border-radius: 19px;
}

.benefits-icon-wrapper-green {
    background-color: #02897a;
}

.benefits-icon-wrapper-blue {
    background-color: #4d8dff;
}

.benefits-icon-wrapper-red {
    background-color: #f03e3d;
}

.benefits-list-icon {
    fill: #fff;
}


.benefits-list-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0em;
    text-align: center;
    color: #22343d;
}

.benefits-list-desc {
    margin: 0 auto;
    max-width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}


/* --- DESCRIPTION --- */

.description-section {
    padding-top: 101px;
    padding-bottom: 115px;
}

.description-title {
    margin-bottom: 73px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
}

.description-list {
    margin-bottom: 78px;
}

.description-list-item {
    display: flex;
    align-items: center;
    gap: 89px;
}

.description-list-item:not(:last-child) {
    margin-bottom: 100px;
}

.description-list-suptitle {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    /* text-align: center; */
    color: #22343d;
}

.description-list-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    /* text-align: center; */
    color: #22343d;
}

.description-list-desc {
    max-width: 390px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
 }

.description-button {
    font-family: "Montserrat", sans-serif;
    display: block;
    min-width: 224px;
    height: 44px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
}


/* --- JOIN --- */

.join-section {
    padding-top: 35px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.join-title {
    margin: 0 auto;
    margin-bottom: 93px;
    max-width: 450px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.join-list {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.join-list-img-wrapper {
    margin: 0 auto;
    margin-bottom: 27px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.join-list-img-wrapper-pink{
    background-color: #ffefef;
}

.join-list-img-wrapper-blue {
    background-color: #f2f6ff;
}

.join-list-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    color: #000;
}

.join-list-benefit {
    margin-bottom: 12px;
}

.join-list-benefit-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    text-align: center;
    color: #22343d;
}

.join-list-benefit-item:not(:last-child) {
    margin-bottom: 4px;
}

.join-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #000;
}



/* ============================== PRICING ==================== */


/* --- MAIN PRICING ---*/

.main-pricing-section {
    padding-top: 50px;
    padding-bottom: 150px;
}

.main-pricing-suptitle {
    display: block;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px; 
}

.main-pricing-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #22343d;
}

.main-pricing-subtitle {
    margin-bottom: 49px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #22343d;
}


/* --- ENTERPRISE --- */

.enterprise-section {
    padding-top: 53px;
    padding-bottom: 51px;
    background-image: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterprise-suptitle {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
}

.enterprise-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
}

.enterprise-subtitle {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #22343d;
}

.enterprise-button {
    font-family: "Montserrat", sans-serif;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    min-width: 224px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
}


/* --- EFFECTS --- */

.effects-section {
    padding-top: 294px;
}

.effects-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.effects-title {
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
}

.effects-list-item:not(:last-child) {
    margin-bottom: 32px;
}

.effects-list-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.effects-list-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f4f5f7;
}

.effects-list-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}


/* --- QUESTIONS --- */

.questions-section {
    margin-top: 6px;
    margin-bottom: 150px;
}

.question-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
}

.question-subtitle {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #22343d;
}

.question-questions {
    max-width: 920px;
    
}

.questions-details {
    margin-bottom: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e7e7;
}

.questions-summary {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 18px;
    color: #22343d;
    list-style: none;
    cursor: pointer;
}

.questions-summary-icon {
    fill: #02897a;
}

.icon-minus {
    display: none;
}

.questions-details[open] .icon-plus {
    display: none;
}

.questions-details[open] .icon-minus {
    display: block;
}

.questions-content {
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
}


/* ============================== RESOURCES ==================== */

/* --- PRODUCT --- */
.product-section {
    padding-top: 77px;
    padding-bottom: 33px;
}

.product-section .container {
    display: flex;
    align-items: center;
    gap: 55px;
}

.product-container {
}

.product-title {
    max-width: 380px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.49;
    letter-spacing: -0.03em;
    color: #22343d;
}

.product-subtitle {
    max-width: 450px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px; 
    line-height: 1.6;
    letter-spacing: -0.03em;
    color: #22343d;
}

.product-form-wrapper {
    position: relative;
    width: 469px;
    height: 66px;
}

.product-form-input {
    width: 100%;
    height: 100%;
    padding-left: 27px;
    padding-right: 133px;
    border: 1px solid #eaeaea;
    border-radius: 100px;
    outline: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #22343d; 
}

.product-form-input:focus {
    border-color:  #02897a;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #22343d;
}

.product-form-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 117px;
    height: 50px;
    border-radius: 100px;
    font-weight: 600;
    line-height: 0;
}

/* --- STORIES --- */
 .stories-section {
    padding-top: 33px;
    padding-bottom: 100px;
 }

 .stories-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
 }

 .stories-desc {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #22343d;
 }

 .stories-strategy-list {
    margin-bottom: 32px;
 }

 .more-stories-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
 }

 .more-stories-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    color: #22343d;
 }

 .more-stories-btn {
    margin: 0 auto;
    min-width: 140px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* border-radius: 50%; */
    padding: 0;
    background-color: transparent;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    color: #22343d;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .more-stories-btn:hover,
 .more-stories-btn:focus {
    color: #02897a;
 }

 .more-stories-icon {
    fill: #2e3a59;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .more-stories-btn:hover .more-stories-icon,
 .more-stories-btn:focus .more-stories-icon{
    fill: #02897a;
 }


 /* --- CONTACT US --- */

 .contact-us-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact-us-title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    text-align: center;
    color: #252b42;
}

.contact-us-subtitle {
    margin-bottom: 55px;
   font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.01em;
    text-align: center;
    color: #374754;
}

.contact-us-social-list {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.contact-us-map-wrapper {
    width: 871px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.contact-form-wrapper {
    margin: 0 auto;
    padding: 52px 50px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    width: 868px;
    height: 670px;
    background-color: #fff;
}

.contact-form-text {
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    text-align: center;
    color: #252b42;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    

}

.contact-form-input-desc {
    margin-bottom: 45px;
}

.contact-form-input {
    width: 100%;
    height: 54px;
    padding: 0 20px;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    background-color: #f5f5f5;
    outline: none;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0.01em;
    color: #252b42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: #02897a;
}

.contact-form-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0.01em;
    color: #22343d;
}

.contact-form-user-message {
    margin-bottom: 45px;
    padding: 23px 20px;
    width: 768px;
    height: 193px;
    border: 1px solid #e8e8e8;
    background-color: #f5f5f5; 
    resize: none;
    outline: none;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0.01em;
    color: #252b42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-user-message:focus {
    border-color: #02897a;
}

.contact-form-user-message::placeholder {
     font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: 0.01em;
    color: #22343d;
}

.contact-form-button {
    min-width: 145px;
    height: 52px;
    align-self: start;
    border-radius: 35px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;

}